<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Sobre nosotros</a></li>
        <li><a href="/salas">Salas</a></li>
        <li><a href="/precios">Precios</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
