header {
  display: flex;
  /* flex-flow: row wrap; */
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 150px;
  background: rgba(7, 6, 6, 0.96);
  background: radial-gradient(
    ellipse farthest-side at center center,
    rgba(7, 6, 6, 0.96) 0%,
    #56565b 80%
  );
  background: -webkit-radial-gradient(
    ellipse farthest-side at center center,
    rgba(7, 6, 6, 0.96) 0%,
    #56565b 80%
  );
  background: -moz-radial-gradient(
    ellipse farthest-side at center center,
    rgba(7, 6, 6, 0.96) 0%,
    #56565b 80%
  );
  padding: 16px 0;
}
header img {
  width: 150px;
  margin-right: 10px;
}

header h1 {
  color: rgb(247, 90, 18);
  font-family: "Acme", sans-serif;
  font-size: 38px;
  font-weight: 300;
  margin-top: 60px;
}
