div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 300px;
}
textarea {
  resize: none;
  height: 150px;
  border-radius: 10px;
}

button {
  width: 150px;
}
