body{
    background: rgba(221, 221, 221, 0.966);
    margin-left: 3px;    
}

h1{
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    color: rgba(0, 0, 0, 0.747);	
    font-family:'Courier New', Courier, monospace;    		
}

h3{
    color: black;	
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    		
}

h4{
    color: rgba(6, 18, 131, 0.726);	
    font-family:Georgia, 'Times New Roman', Times, serif;    			
}

.aside{
    background: whitesmoke;
    float: right;
    height: 1200px;  
    padding-left: 5px;	
    width: 25%;
}

.header{
    background: rgb(126, 125, 133);
    height: 270px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;				
    width: 100%;		
}

.main{
    float: left;
    height: 1200px;      
    padding-right: 5px;
    width: 70%;
}

.skill-level{
    height: 15px;
    width: 100px;
}

#img-cv{
    margin-right: 20px; /* Imagen del aspirante */
}
